.custom-fixed-sidenav {
  background-color: #012958;
}

.custom-fixed-sidenav-link {
  background-color: #012958;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.fixed-sidenav-icon {
  margin-right: 15px !important;
  font-size: 2rem;
}

.tomorrow {
  font-family: "Tomorrow", sans-serif !important;
  font-size: 1.5rem !important;
}
