.landing-bg {
  background: url("../../assets/img/mountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  #landing-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(5, 26, 211, 0.4);
    z-index: -1;
  }
}

.landing-row {
  margin-top: 35px;
}

.landing-heading {
  font-size: 4rem;
  color: #eec22d;
}

.landing-description {
  font-size: 2rem;
  color: #eec22d;
}

.social-media-icon {
  color: #eec22d;
  font-size: 4rem;
}
